.toast {
  background: #333;
  position: fixed;
  bottom: 20px;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  width: 250px;
  text-align: center;
  left: calc(50% - 125px);
  animation-name: slideUp;
  animation-duration: 1s;
  &:before {
    float: left;
    font-size: 32px;
    position: absolute;
    left: 10px;
    top: 4px;
  }
  &-error {
    background-color: #ad0000;
    &:before {
      content: 'x';
    }
  }
  &-info {
    background-color: #4b62a0;
    &:before {
      content: '!';
    }
  }
}

@keyframes slideUp {
    from {bottom: -200px;}
    to {bottom: 20px;}
}
