.usr {
  &__cntnr {
    width: 45%;
    vertical-align: top;
    display: inline-block;
  }
  &__img {
    float: left;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__name {
    font-size: 18px;
    margin-top: 4px;
  }
  &__email {
    font-size: 13px;
    color: #777;
  }
  &__dtls {
    float: left;
  }
}

@media only screen and (max-width: 540px) {
  .usr__cntnr {
    width: 100%;
    padding: 15px;
  }
}
